<section class="card">
  <a href="/blogpost/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
        <p>
            <label for="title">Title:</label>
            <textarea id="title"></textarea>
        </p>
        <p>
            <label for="content">Content:</label>
            <textarea id="content"></textarea>
        </p>
    </div>
  </a>
</section>