<section class="card">
  <a href="/blogpost/{{id}}">

    <div class="card-body">
        <p>
            <label for="title">Title:</label>
            <textarea id="title">{{title}}</textarea>
        </p>
        <p>
            <label for="content">Content:</label>
            <textarea id="content">{{content}}</textarea>
        </p>
    </div>
  </a>
</section>