<section class="card">
  <a href="/blogger/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
        <p>By: {{blogger}}</p>
        <p>{{date}}</p>
    </div>
  </a>
</section>