<section class="blogpost">
  <div class="blogpost-details">
    <h3>{{blogpost.title}}</h3>
    <p>{{blogpost.content}}</p>
    <p>By: {{blogpost.blogger}}</p>
    <p>Posted: {{ format_time}}</p>
  </div>
</section>