/* Color palette (School Canvas) sourced from https://www.color-hex.com/color-palette/113018 */
:root {
    --first: #f07373;
    --second: #eca55d;
    --third: #abce9d;
    --fourth: #81afcc;
    --fifth: #e0b9e5;
    --black: #000000;
    --border-radius: 0.3rem;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--fourth);
}

header {
    padding: 40px;
    text-align: center;
    background: var(--first);
    color: var(--black);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

h1 {
    font-size: 30px;
    color: var(--first);
}

h2 {
    font-size: 25px;
    color: var(--black);
}

h3 {
    font-size: 20px;
    color: var(--third);
}

p {
    font-size: 15px;
    color: var(--fourth);
}

a {
    font-size: 20px;
    color: var(--fifth);
    text-decoration: none;
}

#post-title,
#post-content {
    background-color: var(--third);
    color: var(--second);
    border: 5px solid var(--black);
    border-radius: 10px;
    padding: 20px;
}

.btn {
    background-color: var(--first);
    color: var(--fourth);
    border: 5px solid var(--black);
    ;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
}

.btn:hover {
    color: var(--second);
    text-decoration: underline;
}








/* LAYOUT */
.container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: left;
}